* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media only screen and (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}
body {
    background: #f0f0f5 url('./assets/background.svg') no-repeat 70% top;
    -webkit-font-smoothing: antialiased;
}

#root {
    max-width: 960px;
    margin: 0 auto;
    padding: 2.5rem 1.25rem;
}
